<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         cacheTokens="false"
         verbose="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         stopOnError="true"
         stopOnIncomplete="false"
         stopOnSkipped="false">
    <testsuites>
        <testsuite name="Laravel Shopify Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/ShopifyApp/</directory>
            <exclude>
                <!-- No need to test this -->
                <directory>src/ShopifyApp/resources/</directory>

                <!-- No need to test value objects or enums as its from a package -->
                <directory>src/ShopifyApp/Objects/Values/</directory>
                <directory>src/ShopifyApp/Objects/Enums/</directory>

                <!-- Nothing to test here -->
                <directory>src/ShopifyApp/Contracts/</directory>

                <!-- Nothing to test here -->
                <directory>src/ShopifyApp/Exceptions/</directory>

                <!-- Nothing to test in here, all Laravel code -->
                <file>src/ShopifyApp/ShopifyAppProvider.php</file>

                <!-- Nothing to test here -->
                <file>src/ShopifyApp/Messaging/Events/AppLoggedIn.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <log type="coverage-text" target="php://stdout" />
    </logging>
    <php>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF" />
    </php>
</phpunit>