<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="false"
>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory>src/Contracts/</directory>
            <directory>src/Exceptions/</directory>
            <directory>src/Objects/Enums/</directory>
            <directory>src/resources/</directory>
            <file>src/Messaging/Events/AppLoggedIn.php</file>
            <file>src/ShopifyAppProvider.php</file>
        </exclude>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Laravel Shopify Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging/>
    <php>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="SHOPIFY_API_KEY" value="00000000000000000000000000000000"/>
        <env name="SHOPIFY_API_SECRET" value="00000000000000000000000000000000"/>
    </php>
</phpunit>
